<template>
    <div class="game-page">
        <div class="game-page__title">
            <h2>{{$t('game.title', { nr: game.number } ) }}</h2>
        </div>
        <el-row type="flex" justify="center">
            <el-col :span="6">
                <h3>{{ game.teamA.name }}</h3>
            </el-col>
            <el-col :span="6">
            </el-col>
            <el-col :span="6">
                <h3>{{ game.teamB.name }}</h3>
            </el-col>
        </el-row>
        <el-row type="flex" justify="center">
            <el-col :span="6">
                <p>{{ $t('game.datetime', {datetime: game.datetime.format('DD.MM.YYYY HH:mm') }) }}</p>
                <p>{{ $t('game.court', { court: game.court })}}</p>
            </el-col>
        </el-row>
        <el-row type="flex" justify="center">
            <el-col :span="6">
                <v-tournament-badge :tournament="game.tournament"></v-tournament-badge>
            </el-col>
        </el-row>
        <el-row type="flex" justify="center">
            <el-col :span="6">
                {{ game.group.name }}
            </el-col>
        </el-row>

        <div>
            <br>

            <el-row type="flex" justify="center">
                <el-col :span="18">
                    <el-form label-position="top" :model="gameData" :rules="rules" ref="gameForm">
                        <el-row type="flex" justify="center" :gutter="30">
                            <el-col :span="6">
                                <el-form-item :label="$t('game.halftimes.1a')" prop="scoreAHalftime1">
                                    <el-input clearable v-model="gameData.scoreAHalftime1" :min="0"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item :label="$t('game.halftimes.1b')" prop="scoreBHalftime1">
                                    <el-input clearable v-model="gameData.scoreBHalftime1" :min="0"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row type="flex" justify="center" v-if="!isSimpleGameMode" :gutter="30">
                            <el-col :span="6">
                                <el-form-item :label="$t('game.halftimes.2a')" prop="scoreAHalftime2">
                                    <el-input clearable v-model="gameData.scoreAHalftime2" :min="0"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item :label="$t('game.halftimes.2b')" prop="scoreBHalftime2">
                                    <el-input clearable v-model="gameData.scoreBHalftime2" :min="0"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row type="flex" justify="center" v-if="!isSimpleGameMode" :gutter="30">
                            <el-col :span="6">
                                <el-form-item :label="$t('game.halftimes.3a')" prop="scoreAHalftime3">
                                    <el-input clearable v-model="gameData.scoreAHalftime3" :min="0"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item :label="$t('game.halftimes.3b')" prop="scoreBHalftime3">
                                    <el-input clearable v-model="gameData.scoreBHalftime3" :min="0"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row type="flex" justify="center">
                            <el-col :span="18">
                                <el-button type="danger" plain icon="el-icon-back" @click.native="abort()">
                                    {{ $t('game.abort') }}
                                </el-button>
                                <el-button type="info" icon="el-icon-refresh" @click.native="clearGame()">
                                    {{ $t('game.clear') }}
                                </el-button>
                                <el-button type="primary" :loading="loading" icon="el-icon-check" @click.native="save()">
                                    {{ $t('game.save') }}
                                </el-button>
                            </el-col>
                        </el-row>
                    </el-form>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
  /* ============
   * Game Edit Page
   * ============
   *
   * A page which edits a single game
   */

  import gameService from '@/services/games';

  export default {
    components: {
      VGameTable: require('@/components/gameTable.vue'),
      VTournamentBadge: require('@/components/tournamentBadge.vue'),
    },


    data() {
      const getOtherField = (rule) => {
        const letter = rule.field.substring(5, 6) === 'A' ? 'B' : 'A';
        const nr = rule.field.substring(rule.field.length - 1, rule.field.length);
        const otherField = `score${letter}Halftime${nr}`;
        return this.gameData[otherField];
      };
      const checkNumber = (rule, value, callback) => {
        if (value === null || value === undefined) {
          return callback();
        }
        if (!new RegExp('^[0-9]*$').test(value)) {
          return callback(new Error(this.$t('validation.game.halftime.number.type')));
        }

        let number;
        try {
          number = Number.parseInt(value, 10);
        } catch (e) {
          return callback(new Error(this.$t('validation.game.halftime.number.type')));
        }

        if (number < 0) {
          return callback(new Error(this.$t('validation.game.halftime.number.min')));
        }

        return callback();
      };
      const checkOtherTeam = (rule, value, callback) => {
        if (value !== null && value !== undefined && value.length > 0) {
          return callback();
        }
        const otherFieldValue = getOtherField(rule);
        if (otherFieldValue !== null && otherFieldValue !== undefined && otherFieldValue.length > 0) {
          return callback(new Error(this.$t('validation.game.halftime.number.required')));
        }
        return callback();
      };
      const checkOtherHalftimes = current => (rule, value, callback) => {
        if (value !== null && value !== undefined && value.length > 0) {
          for (let i = 1; i < current; i += 1) {
            const a = this.gameData[`scoreAHalftime${i}`];
            const b = this.gameData[`scoreBHalftime${i}`];
            if (a === null || a === undefined || a.length <= 0 ||
              b === null || b === undefined || b.length <= 0) {
              return callback(new Error(this.$t(`validation.game.halftime.ht_${i}.required`)));
            }
          }
        }
        return callback();
      };
      const checkPenaltyValid = (rule, value, callback) => {
        if (value !== null && value !== undefined && value.length > 0) {
          const winner1 = this.gameData.scoreAHalftime1 > this.gameData.scoreBHalftime1 ? 'A' : 'B';
          const winner2 = this.gameData.scoreAHalftime2 > this.gameData.scoreBHalftime2 ? 'A' : 'B';

          if (winner1 === winner2) {
            return callback(new Error(this.$t('validation.game.halftime.penalty.not_allowed')));
          }
        }

        return callback();
      };
      const checkDraw = (rule, value, callback) => {
        if (this.isSimpleGameMode) return callback();

        if (value !== null && value !== undefined && value.length > 0) {
          const otherFieldValue = getOtherField(rule);

          if (value === otherFieldValue) {
            return callback(new Error(this.$t('validation.game.halftime.draw')));
          }
        }

        return callback();
      };

      const checkSimpleMode = (rule, value, callback) => {
        if (!this.isSimpleGameMode) return callback();

        if (value !== null && value !== undefined && value.length > 0) {
          return callback(new Error(this.$t('validation.game.halftime.not_allowed')));
        }

        return callback();
      };

      return {
        rules: {
          scoreAHalftime1: [
            { validator: checkNumber, trigger: 'blur' },
            { validator: checkOtherTeam, trigger: 'blur' },
            { validator: checkOtherHalftimes(1), trigger: 'blur' },
            { validator: checkDraw, trigger: 'blur' },
          ],
          scoreBHalftime1: [
            { validator: checkNumber, trigger: 'blur' },
            { validator: checkOtherTeam, trigger: 'blur' },
            { validator: checkOtherHalftimes(1), trigger: 'blur' },
            { validator: checkDraw, trigger: 'blur' },
          ],
          scoreAHalftime2: [
            { validator: checkNumber, trigger: 'blur' },
            { validator: checkOtherTeam, trigger: 'blur' },
            { validator: checkOtherHalftimes(2), trigger: 'blur' },
            { validator: checkDraw, trigger: 'blur' },
            { validator: checkSimpleMode, trigger: 'blur' },
          ],
          scoreBHalftime2: [
            { validator: checkNumber, trigger: 'blur' },
            { validator: checkOtherTeam, trigger: 'blur' },
            { validator: checkOtherHalftimes(2), trigger: 'blur' },
            { validator: checkDraw, trigger: 'blur' },
            { validator: checkSimpleMode, trigger: 'blur' },
          ],
          scoreAHalftime3: [
            { validator: checkNumber, trigger: 'blur' },
            { validator: checkOtherTeam, trigger: 'blur' },
            { validator: checkOtherHalftimes(3), trigger: 'blur' },
            { validator: checkPenaltyValid, trigger: 'blur' },
            { validator: checkDraw, trigger: 'blur' },
            { validator: checkSimpleMode, trigger: 'blur' },
          ],
          scoreBHalftime3: [
            { validator: checkNumber, trigger: 'blur' },
            { validator: checkOtherTeam, trigger: 'blur' },
            { validator: checkOtherHalftimes(3), trigger: 'blur' },
            { validator: checkPenaltyValid, trigger: 'blur' },
            { validator: checkDraw, trigger: 'blur' },
            { validator: checkSimpleMode, trigger: 'blur' },
          ],
        },
        gameData: {
          scoreAHalftime1: undefined,
          scoreBHalftime1: undefined,
          scoreAHalftime2: undefined,
          scoreBHalftime2: undefined,
          scoreAHalftime3: undefined,
          scoreBHalftime3: undefined,
        },
      };
    },

    computed: {
      game() {
        return this.$store.getters['games/activeGame'];
      },

      event() {
        return this.$store.getters['event/activeEvent'];
      },

      isSimpleGameMode() {
        return this.event.gameMode === 'simple';
      },

      loading() {
        return this.$store.getters['loading/isLoading'];
      },
    },

    methods: {
      clearGame() {
        this.gameData.scoreAHalftime1 = undefined;
        this.gameData.scoreBHalftime1 = undefined;
        this.gameData.scoreAHalftime2 = undefined;
        this.gameData.scoreBHalftime2 = undefined;
        this.gameData.scoreAHalftime3 = undefined;
        this.gameData.scoreBHalftime3 = undefined;
      },

      save() {
        if (this.isSimpleGameMode) {
          this.gameData.scoreAHalftime2 = undefined;
          this.gameData.scoreBHalftime2 = undefined;
          this.gameData.scoreAHalftime3 = undefined;
          this.gameData.scoreBHalftime3 = undefined;
        }

        this.$refs.gameForm.validate((valid) => {
          if (valid) {
            this.cleanData();
            const data = {
              ...this.game,
              ...this.gameData,
            };
            gameService.update(data).then(() => {
              this.abort();
            });
            return true;
          }

          this.$message.error(this.$t('validation.game.invalid'));
          return false;
        });
      },

      cleanData() {
        if ((`${this.gameData.scoreAHalftime1}`).length === 0) {
          this.gameData.scoreAHalftime1 = undefined;
        }
        if ((`${this.gameData.scoreBHalftime1}`).length === 0) {
          this.gameData.scoreBHalftime1 = undefined;
        }
        if ((`${this.gameData.scoreAHalftime2}`).length === 0) {
          this.gameData.scoreAHalftime2 = undefined;
        }
        if ((`${this.gameData.scoreBHalftime2}`).length === 0) {
          this.gameData.scoreBHalftime2 = undefined;
        }
        if ((`${this.gameData.scoreAHalftime3}`).length === 0) {
          this.gameData.scoreAHalftime3 = undefined;
        }
        if ((`${this.gameData.scoreBHalftime3}`).length === 0) {
          this.gameData.scoreBHalftime3 = undefined;
        }
        this.$refs.gameForm.clearValidate();
      },

      abort() {
        this.$refs.gameForm.clearValidate();
        this.$router.push({
          name: 'games.single',
          params: this.$route.params,
        });
      },
    },

    beforeMount() {
      this.gameData.scoreAHalftime1 = this.game.scoreAHalftime1;
      this.gameData.scoreBHalftime1 = this.game.scoreBHalftime1;
      this.gameData.scoreAHalftime2 = this.game.scoreAHalftime2;
      this.gameData.scoreBHalftime2 = this.game.scoreBHalftime2;
      this.gameData.scoreAHalftime3 = this.game.scoreAHalftime3;
      this.gameData.scoreBHalftime3 = this.game.scoreBHalftime3;
    },

    beforeRouteUpdate(to, from, next) {
      gameService.getByID(to.params.gameID).then(next);
    },
  };
</script>
