<template>
    <div>
        <el-row type="flex" justify="center" class="print-hidden">
            <el-col :span="20">
                <h1>{{ $t('game.print.title_for_event', { name: event.name }) }}</h1>
                <el-form ref="filterForm" :model="filter" class="form-flex" label-position="top" :inline="true">
                    <el-form-item :label="$t('game.print.number')" class="form-flex-grow">
                        <el-slider
                                style="margin-left: 10px; margin-right: 10px;"
                                v-model="filter.range"
                                range
                                :max="max"
                                :min="min">
                        </el-slider>
                    </el-form-item>
                    <el-form-item :label="$t('game.print.court')">
                        <el-select v-model="filter.court" :placeholder="$t('game.print.court')">
                            <el-option
                                    v-for="item in courtOptions"
                                    :value="item.value"
                                    :key="item.value"
                                    :label="item.label"
                            >
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item :label="$t('game.print.empty_games')">
                        <el-checkbox v-model="filter.emptyGamesIncluded">{{ $t('game.print.empty_games') }}
                        </el-checkbox>
                    </el-form-item>
                </el-form>
                <el-alert
                        :title="$t('game.print.browser_note')"
                        type="info"
                        show-icon>
                </el-alert>
            </el-col>
        </el-row>
        <el-row type="flex" justify="center">
            <el-col :span="24">
                <div class="game-print print-page-break-within-avoid print-page-break-after"
                     v-for="game in displayedGames">
                    <div class="game-print__header">
                        <div class="game-print__header__text">
                            <h3 class="game-print__header__title__line">Ismaning {{ currentYear }}</h3>
                            <p class="game-print__header__text__line">
                                <span>{{ $t('game.print.nr') }}: {{ game.number}}</span>
                                <span>{{ $t('game.print.court') }}: {{ game.court }}</span>
                                <span>{{ game.datetime.format('DD.MM.YYYY') }}</span>
                                <span>{{ game.datetime.format('HH:mm') }} {{ $t('game.print.time') }}</span>
                            </p>
                            <p class="game-print__header__text__line">
                                <span v-if="!game.isEmpty">{{ game.group.name }}</span>
                                <span v-if="!game.isEmpty"><v-tournament-name
                                        :tournament="game.group.tournament"></v-tournament-name></span>
                                <span>{{ event.name }}</span>
                            </p>
                        </div>
                        <img src="../../../static/images/dbt_logo.png" class="game-print__header__image"/>
                    </div>
                    <div class="game-print__team-names" v-if="!game.isEmpty">
                        <el-row :gutter="10" type="flex" justify="space-around">
                            <el-col :span="12">
                                <h1>{{ game.teamA.name }}</h1>
                            </el-col>
                            <el-col :span="12">

                                <h1>{{ game.teamB.name }}</h1>
                            </el-col>
                        </el-row>
                    </div>
                    <div class="game-print__team-names" v-else>
                        <el-row :gutter="10" type="flex" justify="space-around">
                            <el-col :span="24">
                                <h1></h1>
                            </el-col>
                        </el-row>
                    </div>
                    <div class="game-print__player-list" v-if="showPlayerLists">
                        <el-row :gutter="10" type="flex" justify="space-around">
                            <el-col :span="12">
                                <table>
                                    <tr>
                                        <th></th>
                                        <th>{{ $t('game.print.player.first_name')}}</th>
                                        <th>{{ $t('game.print.player.last_name')}}</th>
                                        <th>{{ $t('game.print.player.birth_date')}}</th>
                                        <th>#</th>
                                    </tr>
                                    <tr v-for="(player, index) in teamAPlayers(game)">
                                        <td>{{ index + 1}}</td>
                                        <td>{{ player.firstName }}</td>
                                        <td>{{ player.lastName }}</td>
                                        <td>{{ player.birthDate ? player.birthDate.format('DD.MM.YYYY') : '' }}</td>
                                        <td>{{ player.number }}</td>
                                    </tr>
                                </table>
                            </el-col>
                            <el-col :span="12">
                                <table>
                                    <tr>
                                        <th></th>
                                        <th>{{ $t('game.print.player.first_name')}}</th>
                                        <th>{{ $t('game.print.player.last_name')}}</th>
                                        <th>{{ $t('game.print.player.birth_date')}}</th>
                                        <th>#</th>
                                    </tr>
                                    <tr v-for="(player, index) in teamBPlayers(game)">
                                        <td>{{ index + 1}}</td>
                                        <td>{{ player.firstName }}</td>
                                        <td>{{ player.lastName }}</td>
                                        <td>{{ player.birthDate ? player.birthDate.format('DD.MM.YYYY') : '' }}</td>
                                        <td>{{ player.number }}</td>
                                    </tr>
                                </table>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-if="!showPlayerLists && !isSimpleGameMode" class="game-print__info-table">
                        <el-row :gutter="10" type="flex" justify="space-around">
                            <el-col :span="12">
                                <table>
                                    <tr>
                                        <td><div><p>{{ $t('game.print.info.sending_offs') }}:</p></div></td>
                                    </tr>
                                    <tr>
                                        <td><div><p>{{ $t('game.print.info.shoot_out_players') }}:</p></div></td>
                                    </tr>
                                </table>
                            </el-col>
                            <el-col :span="12">
                                <table>
                                    <tr>
                                        <td><div><p>{{ $t('game.print.info.sending_offs') }}:</p></div></td>
                                    </tr>
                                    <tr>
                                        <td><div><p>{{ $t('game.print.info.shoot_out_players') }}:</p></div></td>
                                    </tr>
                                </table>
                            </el-col>
                        </el-row>
                    </div>
                    <div class="game-print__halftimes" v-if="!isSimpleGameMode">
                        <el-row class="game-print__halftimes__single" :gutter="10">
                            <el-col :span="9">
                                <p>{{$t('game.print.halftime.1')}}</p>
                                <table>
                                    <tr v-for="row in 4">
                                        <td v-for="column in 10">{{ 10*(row-1) + column}}</td>
                                    </tr>
                                </table>
                            </el-col>
                            <el-col :span="3" class="game-print__halftimes__single__result">
                                <table>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>{{ $t('game.print.points')}}</td>
                                        <td>{{ $t('game.print.set')}}</td>
                                    </tr>
                                </table>
                            </el-col>
                            <el-col :span="9">
                                <p>{{$t('game.print.halftime.1')}}</p>
                                <table>
                                    <tr v-for="row in 4">
                                        <td v-for="column in 10">{{ 10*(row-1) + column}}</td>
                                    </tr>
                                </table>
                            </el-col>
                            <el-col :span="3" class="game-print__halftimes__single__result">
                                <table>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>{{ $t('game.print.points')}}</td>
                                        <td>{{ $t('game.print.set')}}</td>
                                    </tr>
                                </table>
                            </el-col>
                        </el-row>
                        <el-row class="game-print__halftimes__single" :gutter="10">
                            <el-col :span="9">
                                <p>{{$t('game.print.halftime.2')}}</p>
                                <table>
                                    <tr v-for="row in 4">
                                        <td v-for="column in 10">{{ 10*(row-1) + column}}</td>
                                    </tr>
                                </table>
                            </el-col>
                            <el-col :span="3" class="game-print__halftimes__single__result">
                                <table>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>{{ $t('game.print.points')}}</td>
                                        <td>{{ $t('game.print.set')}}</td>
                                    </tr>
                                </table>
                            </el-col>
                            <el-col :span="9">
                                <p>{{$t('game.print.halftime.2')}}</p>
                                <table>
                                    <tr v-for="row in 4">
                                        <td v-for="column in 10">{{ 10*(row-1) + column}}</td>
                                    </tr>
                                </table>
                            </el-col>
                            <el-col :span="3" class="game-print__halftimes__single__result">
                                <table>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>{{ $t('game.print.points')}}</td>
                                        <td>{{ $t('game.print.set')}}</td>
                                    </tr>
                                </table>
                            </el-col>
                        </el-row>
                        <el-row class="game-print__halftimes__single" :gutter="10">
                            <el-col :span="9">
                                <p>{{$t('game.print.halftime.3')}}</p>
                                <table>
                                    <tr v-for="row in 2">
                                        <td v-for="column in 10">{{ 10*(row-1) + column}}</td>
                                    </tr>
                                </table>
                            </el-col>
                            <el-col :span="3" class="game-print__halftimes__single__result">
                                <table>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>{{ $t('game.print.points')}}</td>
                                        <td>{{ $t('game.print.set')}}</td>
                                    </tr>
                                </table>
                            </el-col>
                            <el-col :span="9">
                                <p>{{$t('game.print.halftime.3')}}</p>
                                <table>
                                    <tr v-for="row in 2">
                                        <td v-for="column in 10">{{ 10*(row-1) + column}}</td>
                                    </tr>
                                </table>
                            </el-col>
                            <el-col :span="3" class="game-print__halftimes__single__result">
                                <table>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>{{ $t('game.print.points')}}</td>
                                        <td>{{ $t('game.print.set')}}</td>
                                    </tr>
                                </table>
                            </el-col>
                        </el-row>
                    </div>
                    <div class="game-print__halftimes--simple" v-if="isSimpleGameMode">
                        <el-row :gutter="10">
                            <el-col :span="12">
                                <p>{{ $t('game.print.goals')}}</p>
                                <div :class="simpleGameModeGoalsSpacerClasses"></div>
                            </el-col>
                            <el-col :span="12">
                                <p>{{ $t('game.print.goals')}}</p>
                                <div :class="simpleGameModeGoalsSpacerClasses"></div>
                            </el-col>
                        </el-row>
                    </div>
                    <div class="game-print__results">
                        <el-row :gutter="10">
                            <el-col :span="12">
                                <p>{{ $t('game.print.winner')}}:</p> <span></span>
                            </el-col>
                            <el-col :span="12">
                                <p>{{ $t('game.print.result')}}:</p> <span></span>
                            </el-col>
                            <el-col :span="12">
                                <p>{{ $t('game.print.judges')}}:</p> <span></span>
                            </el-col>
                            <el-col :span="12">
                                <p>{{ $t('game.print.referee')}}:</p> <span></span>
                            </el-col>
                            <el-col :span="12">
                                <p>{{ $t('game.print.trainer')}}:</p> <span></span>
                            </el-col>
                            <el-col :span="12">
                                <p>{{ $t('game.print.trainer')}}:</p> <span></span>
                            </el-col>
                            <el-col :span="24">
                                <p class="wide high">{{ $t('game.print.extraordinary_events')}}:</p> <span></span>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>
</template>

<script>
  /* ============
   * Game Print Page
   * ============
   *
   * A page which prints the games
   */

  import moment from 'moment';

  import gameService from '@/services/games';

  export default {
    components: {
      VTournamentName: require('@/components/tournamentName.vue'),
    },

    data() {
      return {
        filter: {
          range: [],
          court: undefined,
          emptyGamesIncluded: false,
        },
      };
    },

    computed: {
      event() {
        return this.$store.getters['event/activeEvent'];
      },

      isSimpleGameMode() {
        return this.event.gameMode === 'simple';
      },

      games() {
        return [...this.$store.getters['games/games']];
      },

      gameNumbers() {
        return this.games.map(current => current.number);
      },

      sortedGames() {
        return this.games.sort((a, b) => {
          if (a.court === b.court) {
            return a.number > b.number;
          }
          return a.court > b.court;
        });
      },

      displayedGames() {
        const games = this.sortedGames;
        return games.filter((current) => {
          if (this.filter.court && this.filter.court !== current.court) return false;
          if (!this.filter.emptyGamesIncluded && current.isEmpty) return false;
          return !(this.filter.range[0] > current.number || this.filter.range[1] < current.number);
        });
      },

      min() {
        return Math.min(...this.gameNumbers);
      },

      max() {
        return Math.max(...this.gameNumbers);
      },

      courtOptions() {
        const options = [];
        for (let i = 1; i <= this.event.courtCount; i += 1) {
          options.push({
            value: i,
            label: this.$t('game.print.court_nr', { nr: i }),
          });
        }
        options.push({
          value: undefined,
          label: this.$t('game.print.all_courts'),
        });
        return options;
      },

      showPlayerLists() {
        return this.event.printPlayerList;
      },

      simpleGameModeGoalsSpacerClasses() {
        const result = ['game-print__halftimes--simple__spacer'];
        if (!this.showPlayerLists) {
          result.push('game-print__halftimes--simple__spacer--big');
        }
        return result.join(' ');
      },

      currentYear() {
        return moment().format('YYYY');
      },
    },

    methods: {
      teamAPlayers(game) {
        let players = Array(14).fill({});
        if (!game.isEmpty && game.teamA.resolvedTeam) {
          players = Object.assign(players, game.teamA.resolvedTeam.players.slice(0, 14));
        }
        return players;
      },

      teamBPlayers(game) {
        let players = Array(14).fill({});
        if (!game.isEmpty && game.teamB.resolvedTeam) {
          players = Object.assign(players, game.teamB.resolvedTeam.players.slice(0, 14));
        }
        return players;
      },
    },

    beforeMount() {
      this.filter.range = [this.min, this.max];
    },

    beforeRouteUpdate(to, from, next) {
      gameService.getByEvent(to.params.eventID).then(next);
    },
  };
</script>
