<template>
    <div class="game-page">
        <div class="game-page__title">
            <h2>{{$t('game.title', { nr: game.number } ) }}</h2>
            <v-link-button v-if="isStaff"
                           type="primary"
                           icon="el-icon-edit"
                           :route="editRoute"
            >{{ $t('game.edit') }}</v-link-button>
        </div>
        <el-row type="flex"  justify="center" v-if="!game.isEmpty">
            <el-col :span="6">
                <h3>{{ game.teamA.name }}</h3>
            </el-col>
            <el-col :span="6">
                <h1 v-if="game.isPlayed">{{ resultA }} : {{ resultB }}</h1>
            </el-col>
            <el-col :span="6">
                <h3>{{ game.teamB.name }}</h3>
            </el-col>
        </el-row>
        <el-row type="flex" justify="center">
            <el-col :span="6">
                <p>{{ $t('game.datetime', {datetime: game.datetime.format('DD.MM.YYYY HH:mm') }) }}</p>
                <p>{{ $t('game.court', { court: game.court })}}</p>
            </el-col>
        </el-row>
        <el-row type="flex" justify="center" v-if="!game.isEmpty">
            <el-col :span="6">
                <v-tournament-badge :tournament="game.tournament"></v-tournament-badge>
            </el-col>
        </el-row>
        <el-row type="flex" justify="center" v-if="!game.isEmpty">
            <el-col :span="6">
                {{ game.group.name }}
            </el-col>
        </el-row>

        <div v-if="!isSimpleGameMode && !game.isEmpty">
            <br>

            <el-row type="flex"  justify="center">
                <el-col :span="6">
                    <p>{{ $t('game.halftime1') }}</p>
                    <p v-if="hasHalftime(1)">{{ game.scoreAHalftime1 }} : {{ game.scoreBHalftime1 }}</p>
                </el-col>
            </el-row>
            <el-row type="flex"  justify="center">
                <el-col :span="6">
                    <p>{{ $t('game.halftime2') }}</p>
                    <p v-if="hasHalftime(2)">{{ game.scoreAHalftime2 }} : {{ game.scoreBHalftime2 }}</p>
                </el-col>
            </el-row>
            <el-row type="flex"  justify="center" v-if="hasHalftime(3)">
                <el-col :span="6">
                    <p>{{ $t('game.halftime3') }}</p>
                    <p>{{ game.scoreAHalftime3 }} : {{ game.scoreBHalftime3 }}</p>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
  /* ============
   * Single Game Page
   * ============
   *
   * A page which displays a single game
   */

  import gameService from '@/services/games';

  export default {
    components: {
      VLinkButton: require('@/components/linkButton.vue'),
      VTournamentBadge: require('@/components/tournamentBadge.vue'),
    },

    computed: {
      game() {
        return this.$store.getters['games/activeGame'];
      },

      event() {
        return this.$store.getters['event/activeEvent'];
      },

      isSimpleGameMode() {
        return this.event.gameMode === 'simple';
      },

      resultA() {
        return this.isSimpleGameMode ? this.game.scoreAHalftime1 : this.game.setsA;
      },

      resultB() {
        return this.isSimpleGameMode ? this.game.scoreBHalftime1 : this.game.setsB;
      },

      editRoute() {
        return {
          name: 'games.edit',
          params: this.$route.params,
        };
      },

      isStaff() {
        return this.$store.state.account.isStaff;
      },
    },

    methods: {
      hasHalftime(n) {
        return this.game[`scoreAHalftime${n}`] !== null && this.game[`scoreBHalftime${n}`] !== null;
      },
    },

    beforeRouteUpdate(to, from, next) {
      gameService.getByID(to.params.gameID).then(next);
    },
  };
</script>
