<template>
    <el-table
            :data="tableData"
            class="game-table"
            :row-class-name="rowClassName"
            ref="gameScheduleTable"
            row-key="number"
            :default-sort="{ prop: 'number', order: 'ascending' }">
        <el-table-column
                prop="number"
                column-key="number"
                :label="$t('game.table.number')"
                width="60" align="center">
        </el-table-column>
        <el-table-column
                prop="date"
                column-key="date"
                align="center"
                width="100"
                :label="$t('game.table.date')">
        </el-table-column>
        <el-table-column
                prop="time"
                column-key="time"
                align="center"
                width="70"
                :label="$t('game.table.time')">
        </el-table-column>
        <el-table-column
                prop="court"
                column-key="court"
                align="center"
                width="60"
                :label="$t('game.table.court')">
        </el-table-column>
        <el-table-column
                column-key="tournament"
                :show-overflow-tooltip="true"
                :label="$t('game.table.tournamentName')">
            <template slot-scope="scope">
                <v-tournament-badge size="small" v-if="!!scope.row.tournament"
                                    :tournament="scope.row.tournament"></v-tournament-badge>
            </template>
        </el-table-column>
        <el-table-column
                column-key="group"
                prop="groupName"
                :label="$t('game.table.groupName')">
        </el-table-column>
        <el-table-column
                column-key="teamAName"
                prop="teamAName"
                :label="$t('game.table.teamA')">
        </el-table-column>
        <el-table-column
                column-key="teamBName"
                prop="teamBName"
                :label="$t('game.table.teamB')">
        </el-table-column>
        <el-table-column
                column-key="played"
                width="40"
                center>
            <template slot-scope="scope">
                <el-tooltip v-if="scope.row.isPlayed" effect="dark" :content="$t('game.table.played_tooltip')">
                    <el-button type="info" circle size="mini" icon="el-icon-bell"></el-button>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column
                column-key="moving"
                width="80"
                align="center">
            <template slot-scope="scope">
                <el-tooltip effect="dark" :content="$t('schedule.edit.actions.move_game_up')">
                    <el-button @click.native="moveGameUp(scope.row)" type="text" icon="el-icon-caret-top"></el-button>
                </el-tooltip>
                <el-tooltip effect="dark" :content="$t('schedule.edit.actions.move_game_down')">
                    <el-button @click.native="moveGameDown(scope.row)" type="text"
                               icon="el-icon-caret-bottom"></el-button>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column
                width="30"
                column-key="add-game"
                align="center">
            <template slot-scope="scope">
                <el-tooltip effect="dark" :content="$t('schedule.edit.actions.insert_empty_game')">
                    <el-button @click.native="insertEmptyGame(scope.row)" type="text" icon="el-icon-plus"></el-button>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column
                width="30"
                column-key="remove-empty-game"
                align="center">
            <template slot-scope="scope">
                <el-tooltip v-show="scope.row.isEmpty" effect="dark"
                            :content="$t('schedule.edit.actions.delete_empty_game')">
                    <el-button @click.native="deleteGame(scope.row)" type="text" icon="el-icon-delete"></el-button>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column
                width="50"
                column-key="validation-error"
                align="center">
            <template slot-scope="scope">
                <el-tooltip v-if="scope.row.hasValidationError" effect="dark" placement="top">
                    <div slot="content" v-html="scope.row.validationErrors"></div>
                    <el-button size="mini" type="danger" circle icon="el-icon-warning"></el-button>
                </el-tooltip>
            </template>
        </el-table-column>
    </el-table>
</template>

<script>
  /* ============
   * Team Card Component
   * ============
   *
   * A Card component that displays a single Team
   *
   */

  export default {
    props: {
      games: {
        type: Array,
        required: true,
      },

      sortingDisabled: {
        type: Boolean,
        default: true,
      },
    },

    data() {
      return {
        sortable: undefined,
      };
    },

    watch: {
      sortingDisabled: function sortingDisabled(val) {
        this.setDraggableValue(!val);
      },
      tableData: {
        handler: function handler() {
          this.$nextTick(() => {
            this.setDataIDsOnTableRows();
            this.destroyEventListeners();
            this.setUpDragEventListeners();
          });
        },
        deep: true,
      },
    },

    components: {
      VTournamentBadge: require('@/components/tournamentBadge.vue'),
    },

    computed: {
      tableData() {
        return this.games.map(current => ({
          id: current.id,
          number: current.number,
          date: current.datetime.format('DD.MM.YYYY'),
          time: current.datetime.format('HH:mm'),
          court: current.court,
          group: current.group,
          groupName: current.group ? current.group.name : undefined,
          tournament: current.group ? current.group.tournament : undefined,
          teamAName: current.teamA ? current.teamA.name : undefined,
          teamBName: current.teamB ? current.teamB.name : undefined,
          teamA: current.teamA ? current.teamA.resolvedTeam : undefined,
          teamB: current.teamB ? current.teamB.resolvedTeam : undefined,
          validationErrors: current.validationError,
          hasValidationError: current.validationError && current.validationError.length > 0,
          isEmpty: current.isEmpty,
          isPlayed: current.isPlayed,
        }));
      },

      event() {
        return this.$store.getters['event/activeEvent'];
      },
    },

    methods: {
      rowClassName(data) {
        const result = [];
        if (data.row.court === this.event.courtCount) {
          result.push('has-bottom-border');
        }
        if (data.row.hasValidationError) {
          result.push('warning-row');
        }
        return result.join(' ');
      },

      moveGameUp(game) {
        this.$store.dispatch('scheduleEditor/moveGameUp', game);
      },

      moveGameDown(game) {
        this.$store.dispatch('scheduleEditor/moveGameDown', game);
      },

      insertEmptyGame(game) {
        this.$store.dispatch('scheduleEditor/insertEmptyGame', game.number - 1);
      },

      deleteGame(game) {
        if (game.isEmpty) {
          this.$store.dispatch('scheduleEditor/deleteEmptyGame', game.number - 1);
        }
      },

      setDataIDsOnTableRows() {
        const rows = document.querySelectorAll('.el-table__body-wrapper tbody tr');
        this.tableData.forEach((game, index) => {
          rows[index].setAttribute('data-id', game.number);
        });
      },

      drag(event) {
        event.dataTransfer.setData('fromNumber', event.target.getAttribute('data-id'));
      },

      drop(event) {
        event.preventDefault();
        const fromNumber = event.dataTransfer.getData('fromNumber');

        let target = event.target;
        while (!target.hasAttribute('data-id')) {
          target = target.parentElement;
          if (!target) break;
        }
        if (!target) return;

        const toNumber = target.getAttribute('data-id');

        this.$store.dispatch('scheduleEditor/moveGameToIndex', {
          fromIndex: fromNumber - 1,
          toIndex: toNumber - 1,
        }).then(() => {

        });
      },

      dragover(event) {
        event.preventDefault();
      },

      setUpDragEventListeners() {
        const rows = document.querySelectorAll('.el-table__body-wrapper tbody tr');

        rows.forEach((row) => {
          row.setAttribute('draggable', !this.sortingDisabled);
          row.addEventListener('dragstart', this.drag);
          row.addEventListener('drop', this.drop, { capture: true });
          row.addEventListener('dragover', this.dragover);
        });
      },

      setDraggableValue(val) {
        const rows = document.querySelectorAll('.el-table__body-wrapper tbody tr');

        rows.forEach((row) => {
          row.setAttribute('draggable', val);
        });
      },

      destroyEventListeners() {
        const rows = document.querySelectorAll('.el-table__body-wrapper tbody tr');

        rows.forEach((row) => {
          row.setAttribute('draggable', false);
          row.removeEventListener('dragstart', this.drag);
          row.removeEventListener('drop', this.drop, { capture: true });
          row.removeEventListener('dragover', this.dragover);
        });
      },
    },

    mounted() {
      this.setDataIDsOnTableRows();
      this.setUpDragEventListeners();
    },

    beforeDestroy() {
      this.destroyEventListeners();
    },
  };

</script>
