<template>
    <el-card class="schedule-editor__groups__level__group">
        <div slot="header" class="schedule-editor__groups__level__group__header">
            <el-input type="text" v-model="groupName" class="schedule-editor__groups__level__group__name-input"
                      :placeholder="$t('schedule.edit.group_name')" @change="changeGroupName()"></el-input>
            <el-button type="text" icon="el-icon-delete" style="float: right; padding: 3px 0"
                       @click.native="deleteGroup"></el-button>
        </div>

        <el-collapse v-model="activeTeams" class="schedule-editor__groups__level__group__teams">
            <v-team v-for="team in teams" :key="team.id" :name="team.id" :team="team" @delete="removeTeam(team)"></v-team>
        </el-collapse>

        <el-alert
                v-if="hasDuplicateTeams"
                :title="$t('schedule.edit.duplicate_teams')"
                type="warning"
                show-icon style="margin-bottom: 10px;">
        </el-alert>

        <el-button type="primary" size="mini" plain icon="el-icon-plus" @click.native="addTeam"></el-button>
    </el-card>
</template>

<script>
  /* ============
   * Schduel Editor Group Card Component
   * ============
   *
   * A component which handles a single group for schedule editing
   */

  export default {
    components: {
      VTeam: require('@/components/scheduleEditor/team.vue'),
    },

    props: {
      group: {
        type: Object,
        required: true,
      },
    },

    methods: {
      deleteGroup() {
        this.$emit('delete');
      },

      addTeam() {
        this.$store.dispatch('scheduleEditor/addTeam', {
          tournamentID: this.group.tournamentID,
          levelID: this.group.levelID,
          groupID: this.group.id,
        });
      },

      removeTeam(team) {
        this.$store.dispatch('scheduleEditor/removeTeam', { teamID: team.id });
      },

      changeGroupName() {
        this.$store.dispatch('scheduleEditor/updateGroup', {
          groupID: this.group.id,
          data: {
            name: this.groupName,
          },
        });
      },
    },

    computed: {
      teams() {
        return this.$store.getters['scheduleEditor/teamsByGroup'](this.group.id);
      },

      tournament() {
        return this.$store.getters['tournament/activeTournament'];
      },

      hasDuplicateTeams() {
        const teamIDs = this.teams.map((single) => {
          if (single.isAbsolute && single.referenceTeamID) {
            return single.referenceTeamID;
          } else if (!single.isAbsolute && single.place && single.referenceGroupID) {
            return `${single.place}-${single.referenceGroupID}`;
          }
          return single.id;
        });

        return teamIDs.length !== new Set(teamIDs).size;
      },
    },

    data() {
      return {
        activeTeams: [],
        groupName: undefined,
      };
    },

    beforeMount() {
      if (this.group.name) {
        this.groupName = this.group.name;
      }
    },
  };

</script>
