<template>
    <div>
        <el-collapse-item :name="level.id"
                          class="schedule-editor__groups__level">
            <template slot="title">
                {{ $t('schedule.edit.level_nr', { nr: level.number}) }}
                <el-button style="float: right; margin-right: 40px; margin-top: 10px;" type="danger"
                           icon="el-icon-delete" plain size="mini"
                           @click.native="removeLevel()"></el-button>
            </template>

            <div class="schedule-editor__groups__level__groups">
                <v-group-card @delete="deleteGroup(group)"
                              v-for="group in groups"
                              :key="`group_${group.id}`" :group="group"
                ></v-group-card>
            </div>

            <el-button size="small" type="primary" icon="el-icon-plus" @click.native="addGroup()">
                {{ $t('schedule.edit.add_group') }}
            </el-button>
        </el-collapse-item>
    </div>
</template>

<script>
  /* ============
   * Schduel Editor Level Component
   * ============
   *
   * A component which handles a Level for schedule editing
   */

  export default {
    components: {
      VGroupCard: require('@/components/scheduleEditor/groupCard.vue'),
    },

    props: {
      level: {
        type: Object,
        required: true,
      },
    },

    computed: {
      groups() {
        if (!this.level) return [];
        return this.$store.getters['scheduleEditor/groupsByLevel'](this.level.id);
      },
    },

    methods: {
      addGroup() {
        this.$store.dispatch('scheduleEditor/addGroup', {
          tournamentID: this.level.tournamentID,
          levelID: this.level.id,
          level: this.level.number,
        });
      },

      deleteGroup(group) {
        this.$store.dispatch('scheduleEditor/removeGroup', { groupID: group.id });
      },

      removeLevel() {
        this.$emit('delete');
      },
    },
  };

</script>
