<template>
    <div>
        <el-row type="flex" justify="end">
            <el-col :span="4">
                <el-switch
                        v-model="sortGamesEnabled"
                        :active-text="$t('schedule.edit.allow_game_sorting')"
                >
                </el-switch>
            </el-col>
        </el-row>

        <div class="schedule-editor__games">
            <v-game-table :games="games" :sorting-disabled="!sortGamesEnabled"></v-game-table>
        </div>
    </div>
</template>

<script>
  /* ============
   * Schduel Editor Games Component
   * ============
   *
   * A component which handles the Games for schedule editing
   */

  export default {
    components: {
      VGameTable: require('@/components/scheduleEditor/gameTable.vue'),
    },

    props: {
      validationErrors: {
        type: Object,
        default: {},
      },
    },

    data() {
      return {
        sortGamesEnabled: false,
      };
    },

    computed: {
      games() {
        return this.$store.getters['scheduleEditor/games'].sort((a, b) => a.number > b.number).map((current) => {
          const errors = this.validationErrors[current.number];
          if (errors) {
            return {
              ...current,
              validationError: errors.map(err => this.$t(`schedule.edit.validation.${err}`)).join('<br>'),
            };
          }
          return current;
        });
      },
    },
  };

</script>
