<template>
    <div>
        <div class="schedule-editor__groups">
            <el-collapse v-model="activeLevels">
                <v-level v-for="level in levels" :key="level.id" :level="level" @delete="removeLevel(level)"></v-level>
            </el-collapse>
        </div>

        <el-row type="flex" justify="end">
            <el-col :span="4">
                <el-button type="primary" icon="el-icon-plus" @click.native="addLevel">
                    {{ $t('schedule.edit.add_level') }}
                </el-button>
            </el-col>
        </el-row>
    </div>
</template>

<script>
  /* ============
   * Schduel Editor Groups Component
   * ============
   *
   * A component which handles the Groups for schedule editing
   */

  export default {
    components: {
      VLevel: require('@/components/scheduleEditor/level.vue'),
    },

    data() {
      return {
        activeLevels: [],
      };
    },

    computed: {
      levels() {
        return this.$store.getters['scheduleEditor/levelsByTournament'];
      },

      tournament() {
        return this.$store.getters['tournament/activeTournament'];
      },
    },

    methods: {
      addLevel() {
        this.$store.dispatch('scheduleEditor/addLevel', { tournamentID: this.tournament.id });
      },

      removeLevel(level) {
        this.$store.dispatch('scheduleEditor/removeLevel', { levelID: level.id });
      },
    },
  };

</script>
