<template>
    <el-collapse-item class="schedule-editor__groups__level__group__team">
        <template slot="title">
            {{ teamTitle }}
            <el-button style="float: right; margin-left: 10px; margin-top: 3px; margin-right: 10px;"
                       type="text"
                       icon="el-icon-delete" @click.native="removeTeam()"></el-button>
        </template>

        <el-form :model="teamData" :ref="`team_form_${team.id}`">
            <el-form-item>
                <el-switch v-model="teamData.isAbsolute" :active-text="$t('schedule.edit.absolute_team')"
                           :inactive-text="$t('schedule.edit.relative_team')" @change="updateTeam()" :disabled="!canChooseGroups"></el-switch>
            </el-form-item>
            <el-form-item v-if="teamData.isAbsolute">
                <el-select v-model="teamData.referenceTeamID" :placeholder="$t('schedule.edit.select_team')" @change="updateTeam()">
                    <el-option v-for="referencedTeam in availableTeams"
                               :key="referencedTeam.id"
                               :label="referencedTeam.completeName"
                               :value="referencedTeam.id.toString()">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item v-else>
                <el-input-number v-model="teamData.place" :controls="false" :min="1"
                                 :max="maxPlace" @change="updateTeam()"></el-input-number>
                <el-cascader
                        v-model="teamData.groupRelation"
                        :placeholder="$t('schedule.edit.select_group')"
                        :options="availableGroups"
                        :show-all-levels="false"
                        @change="updateTeam()"
                ></el-cascader>
            </el-form-item>
        </el-form>
    </el-collapse-item>
</template>

<script>
  /* ============
   * Schduel Editor Team Component
   * ============
   *
   * A component which handles a Team for schedule editing
   */

  export default {
    props: {
      team: {
        type: Object,
        required: true,
      },
    },

    data() {
      return {
        teamData: {},
      };
    },

    computed: {
      availableGroups() {
        return this.$store.getters['scheduleEditor/groupsAvailableInLevel'](this.team.levelID.toString());
      },

      countAvailableGroups() {
        return this.availableGroups.reduce((result, single) => result + single.children.length, 0);
      },

      canChooseGroups() {
        return this.countAvailableGroups > 0;
      },

      maxPlace() {
        if (!this.referenceGroup) return undefined;

        return this.$store.getters['scheduleEditor/teamsByGroup'](this.referenceGroup.id.toString()).length;
      },

      teamTitle() {
        if (this.teamData.isAbsolute && this.referenceTeam) {
          return this.referenceTeam.completeName;
        }

        if (!this.teamData.isAbsolute && this.teamData.place && this.referenceGroup) {
          return `${this.teamData.place}. ${this.referenceGroup.name}`;
        }

        return this.$t('schedule.edit.new_team');
      },

      tournament() {
        return this.$store.getters['tournament/activeTournament'];
      },

      availableTeams() {
        return this.tournament.signedUpTeams;
      },

      referenceTeam() {
        if (!this.teamData.referenceTeamID) return undefined;
        return this.tournament.signedUpTeams.find(single =>
          single.id.toString() === this.teamData.referenceTeamID.toString());
      },

      referenceGroupID() {
        if (!this.teamData.groupRelation || this.teamData.groupRelation.length < 2) return undefined;

        return this.teamData.groupRelation[1].toString();
      },


      referenceGroup() {
        if (!this.teamData.groupRelation ||
          this.teamData.groupRelation.length === 0) return undefined;

        return this.$store.state.scheduleEditor.groups.find(single =>
          single.id.toString() === this.referenceGroupID.toString());
      },
    },

    methods: {
      removeTeam() {
        this.$emit('delete');
      },


      updateTeam() {
        this.$nextTick(() => {
          this.$store.dispatch('scheduleEditor/updateTeam', {
            teamID: this.team.id,
            data: {
              ...(this.teamData),
              referenceGroupID: this.referenceGroupID,
            },
          });
        });
      },
    },

    beforeMount() {
      this.teamData = {
        place: 1,
        groupRelation: this.team.groupRelation || [],
        isAbsolute: !this.canChooseGroups,
        ...(this.team),
      };
    },
  };

</script>
