{% extends "base_email.html" %}
{% load i18n %}

{% block title %}{% trans "Account Deleted" %}{% endblock %}
{% block pagetitle %}{% trans "Account Deleted" %}{% endblock %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0"
           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="content-block"
                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                valign="top">

                {% blocktrans %}
                    Your Account was successfully deleted.
                {% endblocktrans %}
            </td>
        </tr>
    </table>
{% endblock %}