{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans "Beach Tournaments" %}</title>
    <meta property="og:title" content="{% trans "Beach Tournaments" %}" />
    <meta property="og:description" content="{% trans "Registration and Schedules for the beach tournaments in Ismaning" %}" />
    <meta property="og:url" content="http://beach.handballismaning.de" />
    <meta property="og:image" content="http://beach.handballismaning.de/static/assets/images/home_header.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon"/>

    {% render_bundle 'app' 'css' %}
</head>

<body>

<!--[if IE]>
{% trans "Your Browser is not supported. Please use a modern Browser like Safari, Firefox or Chrome." %}
<![endif]-->
<![if !IE]>
<noscript>Please activate Javascript in your Browser!</noscript>
<div id="app"></div>
{% if debug == False %}
    <script type="text/javascript" src="http://localhost:8080/app.js"></script>
{% else %}
    {% render_bundle 'manifest' 'js' %}
    {% render_bundle 'vendor' 'js' %}
    {% render_bundle 'app' 'js' %}
{% endif %}
<![endif]>
</body>

</html>
