<template>
    <router-view></router-view>
</template>

<script>
  /* ============
   * Empty Router View Page
   * ============
   *
   * A page which is just used as a wrapper
   */

  export default {};
</script>
