<template>
    <v-layout>
        <el-row class="home-part home-part-image">
            <div class="home-header-image">
                <h1>{{ $t('general.header.title', { currentYear: year }) }}</h1>
                <h2>{{ $t('general.header.subtitle') }}</h2>
            </div>
        </el-row>

        <el-row class="home-part">
            <el-col :span="24">
                <p v-html="welcomeText"></p>
                <v-link-button
                        type="primary"
                        size="large"
                        :route="{ name: 'registration.index' }"
                >{{ $t('registration.to_registration') }}
                </v-link-button>
            </el-col>
        </el-row>

        <el-row class="home-part homepart-content-vertical">
            <el-col :span="24">
                <h2>{{ $t('general.game_schedules') }}</h2>
                <el-carousel :interval="4000" type="card">
                    <el-carousel-item class="home-carousel-event-item"
                                      :style="getEventImageStyles(event)"
                                      v-for="event in events"
                                      :key="'event_' + event.id"
                                      @click.native="gotoEvent(event)">
                        <h3>{{ event.name }}</h3>
                        <p>{{ event.eventDate }}</p>
                    </el-carousel-item>
                </el-carousel>
            </el-col>
        </el-row>
    </v-layout>
</template>

<script>
  /* ============
   * Home Index Page
   * ============
   *
   * The home index page.
   */

  export default {
    components: {
      VLayout: require('@/layouts/fullWidth.vue'),
      VLinkButton: require('@/components/linkButton.vue'),
    },

    computed: {
      year() {
        return this.$store.state.config.year;
      },

      welcomeText() {
        return this.$store.state.config.welcomeText;
      },

      events() {
        return Object.assign([], this.$store.getters['event/events']).sort((a, b) => {
          if (a.startDate.isBefore(b.startDate)) {
            return -1;
          } else if (a.startDate.isAfter(b.startDate)) {
            return 1;
          }
          return 0;
        });
      },
    },

    methods: {
      gotoEvent(event) {
        this.$router.push({
          name: 'schedule.event',
          params: {
            eventID: event.id,
          },
        });
      },

      getEventImageStyles(event) {
        if (!event.image) return undefined;

        return `background-image: url(${event.image});`;
      },
    },
  };
</script>
