.game-table {
  .el-table__header {
    th {
      border-bottom: 3px solid #ebeef5;
    }
  }
  .el-table__body {
    .el-table__row {
      cursor: pointer;
      &.has-bottom-border {
        td {
          border-bottom: 3px solid #ebeef5;
        }
      }
      &.has-top-border {
        td {
          border-top: 6px solid #ebeef5;
        }
      }
    }
  }

  .game-table__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .game-table__result__points {
      display: flex;
      align-items: center;

      font-size: 16px;
      margin-bottom: 10px;

      p {
        margin: 0 10px;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .game-table__result__halftimes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      font-size: 11px;
      line-height: 16px;

      p {
        color: #7f7f7f;
        margin: 0 10px;
      }
    }
  }

  margin-bottom: 60px;
}