.game-page {

  .game-page__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .el-col {
    text-align: center;
  }
}