.game-print {
  .game-print__header {
    display: flex;
  }
  .game-print__header__text {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }
  .game-print__header__image {
    width: 100px;
    height: 100px;
    margin-left: 20px;
  }
  .game-print__header__text__line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .game-print__header__title__line {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .game-print__team-names {
    margin-top: 0;
    margin-bottom: 15px;
    h1 {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 22px;
    }
  }

  .game-print__player-list {
    table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      td, th {
        padding: 3px;
      }
      &, tr, th, td {
        border: 1px solid black;
      }
    }
  }

  .game-print__halftimes {
    margin-top: 10px;
    .game-print__halftimes__single {
      p {
        margin: 0;
      }

      table {
        border-collapse: collapse;
        tr, td {
          text-align: center;
          border: 1px solid black;
        }
      }

      .game-print__halftimes__single__result {
        margin-top: 16px;
        table {
          border: none;
          border-collapse: separate;
          tr:first-of-type {

            td {
              width: 30px;
              height: 30px;
              border: 1px solid black;
            }
          }
          tr:last-of-type {
            td {
              border: none;
              height: auto;
            }
          }
        }
      }
    }
  }

  .game-print__halftimes--simple {
    .game-print__halftimes--simple__spacer {
      height: 20vh;
      &.game-print__halftimes--simple__spacer--big {
        height: 50vh;
      }
    }

  }

  .game-print__results {
    margin-top: 10px;
    .el-col {
      display: flex;
      justify-content: start;
      align-items: baseline;

      p {
        width: 110px;
        flex: 0;
        flex-basis: 110px;
        margin-top: 5px;
        margin-bottom: 5px;

        &.wide {
          width: 200px;
          flex-basis: 200px;
        }

        &.high {
          margin-top: 30px;
        }
      }

      span {
        flex-grow: 2;
        border-bottom: 1px solid black;
      }
    }
  }

  .game-print__info-table {
    table td div {
      height: 110px;
    }
  }
}
