.home-part {
  padding: 30px 20vw;
  @include breakpoint(mobileonly) {
    padding: 30px 20px;
  }

  flex: 1;
  display: flex;

  &.home-part-image {
    padding: 0;
    flex-shrink: 2;
    max-height: 365px;
  }

  & > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    & > a {
      align-self: flex-start
    }
  }

  &:nth-child(odd) {
    background: #f2f2f2;
  }


  &:last-child {
    flex: 2;
  }

  &.homepart-content-vertical {
    flex-direction: column;

    & > * {
      margin-bottom: 30px;
    }
  }

  .home-header-image {
    width: 100vw;
    height: 365px;
    max-height: 70vh;
    background-image: url('../../../static/images/home_header.jpg');
    background-position-x: center;
    background-position-y: 20%;
    background-size: cover;

    &.home-header-image-thin {
      height: 200px;
    }

    h1, h2 {
      text-align: center;
      color: #f2f2f2;
      text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }

    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 40px;
    }
  }

  .home-subheader-image {
    width: 100%;
    height: auto;
    min-height: 200px;
    background: url('../../../static/images/home_subheader.jpg') center;
    background-size: cover;
  }

  &.home-part-split-vertical {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &.home-part-big {
    padding: 30px 2vw;
    @include breakpoint(mobileonly) {
      padding: 30px 10px;
    }
  }
}

.home-carousel-event-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: bold;
  background-image: url('../../../static/images/home_header.jpg');
  background-position: center;
  background-size: cover;

  h3, p {
    color: #f2f2f2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }
}
