.nav {
  margin-bottom: 0px;
  &.no-nav-margin {
    margin-bottom: 0;
  }
  .nav-right {
    float: right;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .nav-image-wrap {
    float: left;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    outline: none !important;
    margin-right: 20px;

    .nav-image {
      margin: 10px 0 10px 20px;
      height: 40px;
      width: 40px;
      background: url('../../../static/images/logo.png') center center;
      background-size: cover;
    }
    p, a {
      margin-left: 10px;

      &, &:hover, &:active, &:focus, &:visited {
        color: #FDD648;
        text-decoration: none;
      }
    }
  }
}
