* {
  font-family: Helvetica Neue, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p {
  color: #1F2D3D;
}

h1 {
  font-size: 20px;
  &.big {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 12px;
}

.el-row {
  margin-bottom: 20px;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
}

.page {
  height: 100%;
  overflow: auto;
  flex: 2;


  .el-card__body {
    overflow: auto;
    height: 100%;
  }
}

.el-step.has-link {
  cursor: pointer;
}

.el-tag+.el-tag {
  margin-left: 5px;
}
.input-new-tag {
  margin-left: 5px;
  width: auto;
}
.button-new-tag {
  margin-left: 5px;
}

.el-main, .el-header, .el-footer {
  padding: 0;
  flex: 0;
}

.el-main {
  flex: 1;
  flex-grow: 99;
  display: flex;
  overflow: visible;
  flex-direction: column;
}

#app > .el-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.el-footer {
  height: auto !important;
  max-height: fit-content;
}

.footer {
  margin: 0 !important;
}

.el-menu.el-menu--horizontal {
  border-bottom: none;
  height: inherit;

  .el-menu-item:hover {
    background-color: rgb(45, 45, 45) !important;
  }
}

a + .el-button {
  margin-left: 10px;
}

$break-small: 320px;

.message-bottom {
  bottom: 20px;
  top: auto !important;
  max-width: 100vw;

  @media screen and (max-width: $break-small) {
    min-width: 100vw;
  }
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}