@media print {
  .print-hidden {
    display: none;
  }

  .print-page-break-after {
    page-break-after: always;
  }
}

.print-table {
  border-collapse: collapse;
  width: 100%;
  td {
    border: 1px solid black;
    padding: 5px;
  }

  .has-bottom-border {
    border-bottom: 3px solid black;

    &:last-of-type {
      border-bottom: none;
    }
  }
}