.schedule-editor__groups {
  margin-bottom: 10px;
}

.schedule-editor__groups__level {
  margin-bottom: 10px;

  .schedule-editor__groups__level__action-group {
    display: flex;
    align-items: center;
    justify-content: end;

    & > * {
      margin-left: 5px;
      margin-right: 5px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .schedule-editor__groups__level__groups {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .schedule-editor__groups__level__group {
    .schedule-editor__groups__level__group__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .el-button {
        margin-left: 10px;
      }
    }
    margin: 10px;

    .schedule-editor__groups__level__group__teams {
      margin-bottom: 10px;
    }

    .schedule-editor__groups__level__group__team {
      margin-bottom: 5px;

      .el-input-number {
        width: 60px;
      }
    }
  }
}

.el-table .warning-row {
  background: oldlace;
}

.schedule-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  & > * {
    margin: 5px;
  }
}
