@import "mixins";
@import "overrides";
@import "panel";
@import "home";
@import "nav";
@import "footer";
@import "team";
@import "account";
@import "tournament-card";
@import "tournament";
@import "team-card";
@import "game-table";
@import "game-page";
@import "print";
@import "game-print";
@import "schedule-editor";

.padding-left {
  padding-left: 8px;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.container-tiles {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > * {
    margin: 10px;
  }
}

.full-size-background {
  height: 100vh;
  .el-main {
    background: url('../../../static/images/home_header.jpg') no-repeat fixed center;
    background-size: cover;
    flex: 2;
    min-height: fit-content;
    flex-shrink: 0;

    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.form-part {
  margin-bottom: 5em;

  .form-part-title {
    margin-bottom: 10px;
  }
}

.text-center {
  text-align: center;
}

.pulsating-heart {
  color: #FF4949;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
  &:hover {
    color: #e1000c;
  }
}

.fa-slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}

.panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  flex: 1;
  padding: 3em 0;
  background-color: #f2f2f2;
}

.flex {
  display: flex;
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

p.small {
  font-size: 13px;
}

.form-flex {
  display: flex;

  .form-flex-grow {
    flex-grow: 2;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
