<template>
    <div>
        <h2>
            {{ $t('game.schedule.by_court', {court: court }) }}
        </h2>
        <v-game-table :games="games"></v-game-table>
    </div>
</template>

<script>
  /* ============
   * Court Schedule Page
   * ============
   *
   * A page which displays the schedule for a court
   */

  import gameService from '@/services/games';

  export default {
    components: {
      VGameTable: require('@/components/gameTable.vue'),
      VTournamentName: require('@/components/tournamentName.vue'),
    },

    computed: {
      event() {
        return this.$store.getters['event/activeEvent'];
      },

      court() {
        return this.$route.params.court;
      },

      games() {
        return this.$store.getters['games/games'];
      },
    },

    beforeRouteUpdate(to, from, next) {
      gameService.getByCourt(to.params.court).then(next);
    },
  };
</script>
