<template>
    <div>
        <h2>
            {{ $t('game.schedule.by_date', {date: date }) }}
        </h2>
        <v-game-table :games="games"></v-game-table>
    </div>
</template>

<script>
  /* ============
   * Date Schedule Page
   * ============
   *
   * A page which displays the schedule for a date
   */

  import moment from 'moment';
  import gameService from '@/services/games';

  export default {
    components: {
      VGameTable: require('@/components/gameTable.vue'),
      VTournamentName: require('@/components/tournamentName.vue'),
    },

    computed: {
      event() {
        return this.$store.getters['event/activeEvent'];
      },

      date() {
        return moment(this.$route.params.date, 'YYYY-MM-DD').format('DD.MM.YYYY');
      },

      games() {
        return this.$store.getters['games/games'];
      },
    },

    beforeRouteUpdate(to, from, next) {
      gameService.getByDate(to.params.date).then(next);
    },
  };
</script>
