<template>
    <div>
        <el-row>
            <el-col :span="24">
                <h3>{{ $t('schedule.edit.group_configuration') }}</h3>
                <el-tabs v-model="activeTournamentId" @tab-click="handleTabClick">
                    <el-tab-pane v-for="tournament in tournaments" :key="tournament.id" :label="tournament.completeName"
                                 :name="tournament.id.toString()">
                    </el-tab-pane>
                    <v-schedule-editor-groups></v-schedule-editor-groups>
                </el-tabs>
            </el-col>
        </el-row>


        <el-row>
            <el-col :span="24">
                <h3>{{ $t('schedule.edit.games')}}</h3>
                <v-schedule-editor-games :validation-errors="gameValidationErrors"></v-schedule-editor-games>
            </el-col>
        </el-row>

        <el-row type="flex" justify="end">
            <el-popover placement="top" v-model="distributionStrategyPopoverVisible"
                trigger="click" style="margin-right: 10px;">
                <p>{{ $t('schedule.edit.distribute_choose_strategy') }}</p>
                <el-button @click.native="distribute('random')">
                    {{ $t('schedule.edit.distribute_strategy_random') }}
                </el-button>
                <el-button @click.native="distribute('group-table')">
                    {{ $t('schedule.edit.distribute_strategy_group_table') }}
                </el-button>
                <el-button icon="el-icon-sort" :loading="loadingKey === 'distribution'" type="info" plain
                           slot="reference">
                    {{ $t('schedule.edit.distribute') }}
                </el-button>
            </el-popover>

            <el-button icon="el-icon-question" :loading="loadingKey === 'validation'" type="primary" plain
                       @click.native="validate()">
                {{ $t('schedule.edit.validate') }}
            </el-button>
            <el-button type="success" icon="el-icon-check" :loading="loading" @click.native="save()">
                {{ $t('schedule.edit.save') }}
            </el-button>
        </el-row>
    </div>
</template>

<script>
  /* ============
   * Schedule Edit Page
   * ============
   *
   * A page which displays the schedule
   */

  import { getTournamentCompleteName, checkObjectEmpty } from '@/utils/helpers';
  import validateSchedule from '@/utils/scheduleValidator';
  import distributeGames from '@/utils/scheduleDistributor';
  import scheduleEditorService from '@/services/scheduleEditor';

  export default {
    components: {
      VScheduleEditorGroups: require('@/components/scheduleEditor/scheduleEditorGroups.vue'),
      VScheduleEditorGames: require('@/components/scheduleEditor/scheduleEditorGames.vue'),
    },

    data() {
      return {
        activeTournament: undefined,
        gameValidationErrors: {},
        validated: false,
        loadingKey: undefined,
        distributionStrategyPopoverVisible: false,
      };
    },

    watch: {
      games: {
        handler: function handler() {
          this.unsetValidation();
        },
        deep: true,
      },
    },

    computed: {
      event() {
        return this.$store.getters['event/activeEvent'];
      },

      tournaments() {
        const tournaments = this.$store.getters['tournament/tournaments'].filter(single =>
          single.eventID === this.event.id);
        return tournaments.map(current => ({
          ...current,
          completeName: getTournamentCompleteName(current),
        }));
      },

      games() {
        return this.$store.getters['scheduleEditor/games'].sort((a, b) => a.number > b.number);
      },

      loading() {
        return this.$store.getters['loading/isLoading'];
      },

      hasValidationErrors() {
        return !checkObjectEmpty(this.gameValidationErrors);
      },
    },

    methods: {
      handleTabClick() {
        const tournament = this.tournaments.find(current =>
          current.id.toString() === this.activeTournamentId);
        this.$store.dispatch('tournament/setActive', tournament);
      },

      async save() {
        if (this.validated) {
          scheduleEditorService.updateGroupStructure(this.event.id, this.$store);
        } else {
          this.validate().then(() => {
            if (!this.hasValidationErrors) {
              scheduleEditorService.updateGroupStructure(this.event.id, this.$store);
            }
          });
        }
      },

      validate() {
        return new Promise((resolve) => {
          this.loadingKey = 'validation';
          this.$nextTick(() => {
            this.gameValidationErrors = validateSchedule(this.games);
            this.validated = true;
            if (this.hasValidationErrors) {
              this.$message({
                showClose: true,
                message: this.$t('schedule.edit.validation_errors_exist'),
                type: 'warning',
                duration: 5000,
              });
            } else {
              this.$message({
                showClose: true,
                message: this.$t('schedule.edit.validation_okay'),
                type: 'success',
              });
            }
            this.$nextTick(() => {
              this.loadingKey = undefined;
              resolve();
            });
          });
        });
      },

      unsetValidation() {
        this.gameValidationErrors = {};
        this.validated = false;
      },

      distribute(strategy) {
        this.distributionStrategyPopoverVisible = false;
        this.loadingKey = 'distribution';
        let err;
        this.$nextTick(() => {
          try {
            const distributedGames = distributeGames(
              this.games,
              this.tournaments,
              this.event,
              strategy,
            );
            if (distributedGames && distributedGames.length > 0) {
              this.$store.dispatch('scheduleEditor/setGames', distributedGames);
            }
          } catch (error) {
            this.$notify.error({
              title: this.$t('schedule.edit.distribute_error.title'),
              message: this.$t('schedule.edit.distribute_error.message'),
            });
            err = error;
          } finally {
            this.$nextTick(() => {
              this.loadingKey = undefined;
            });
            if (err) {
              // eslint-disable-next-line no-console
              console.error(err);
            }
          }
        });
      },
    },

    beforeRouteUpdate(to, from, next) {
      next();
    },

    beforeMount() {
      this.activeTournamentId = this.tournaments[0].id.toString();
    },

    mounted() {
      this.$store.dispatch('tournament/setActive', this.tournaments[0]);
    },
  };
</script>
