<template>
  <div>
    <el-row v-if="isStaff" type="flex" justify="end">
      <el-col :span="24" class="schedule-buttons">
        <v-link-button type="info" icon="el-icon-printer"
                       :route="{ name: 'schedule.print', params: this.$route.params }">
          {{ $t('schedule.print.link') }}
        </v-link-button>
        <v-link-button type="info" icon="el-icon-printer" :route="{ name: 'games.print', params: this.$route.params }">
          {{ $t('game.print.link') }}
        </v-link-button>
        <v-download-excel :data="scheduleData" :fields="scheduleFields" :name="scheduleFileName"
                          type="csv" :meta="scheduleFileMeta">
          <el-button plain type="info" icon="el-icon-download">{{ $t('schedule.export') }}
          </el-button>
        </v-download-excel>
        <v-link-button type="primary" icon="el-icon-edit"
                       :route="{ name: 'schedule.edit', params: this.$route.params }">
          {{ $t('schedule.edit.link') }}
        </v-link-button>
      </el-col>

    </el-row>
    <v-game-table :games="games" show-controls show-referees></v-game-table>
  </div>
</template>

<script>
/* ============
 * Event Single Page
 * ============
 *
 * A page which displays a single Event
 */

import gameService from '@/services/games';

import { getTournamentCompleteName } from '@/utils/helpers';

export default {
  components: {
    VGameTable: require('@/components/gameTable.vue'),
    VLinkButton: require('@/components/linkButton.vue'),
  },

  data() {
    return {
      scheduleFileMeta: [
        [{
          key: 'charset',
          value: 'utf-8',
        }],
      ],
    };
  },

  computed: {
    event() {
      return this.$store.getters['event/activeEvent'];
    },

    isSimpleGameMode() {
      return this.event.gameMode === 'simple';
    },

    games() {
      return this.$store.getters['games/games'];
    },

    isStaff() {
      return this.$store.state.account.isStaff;
    },

    scheduleFields() {
      const fields = {
        [this.$t('game.table.number')]: 'number',
        [this.$t('game.table.date')]: 'date',
        [this.$t('game.table.time')]: 'time',
        [this.$t('game.table.court')]: 'court',
        [this.$t('game.table.groupName')]: 'groupName',
        [this.$t('game.table.tournamentName')]: 'tournament',
        [this.$t('game.table.teamA')]: 'teamAName',
        [this.$t('game.table.teamB')]: 'teamBName',
        [this.$t('game.table.referees')]: 'referees',
        [this.$t('game.table.pointsA')]: 'pointsA',
        [this.$t('game.table.pointsB')]: 'pointsB',
      };

      if (this.isSimpleGameMode) {
        fields[this.$t('game.table.scoreA')] = 'scoreA';
        fields[this.$t('game.table.scoreB')] = 'scoreB';
      } else {
        fields[this.$t('game.table.setsA')] = 'setsA';
        fields[this.$t('game.table.setsB')] = 'setsB';
        fields[this.$t('game.table.scoreAHalftime1')] = 'scoreAHalftime1';
        fields[this.$t('game.table.scoreBHalftime1')] = 'scoreBHalftime1';
        fields[this.$t('game.table.scoreAHalftime2')] = 'scoreAHalftime2';
        fields[this.$t('game.table.scoreBHalftime2')] = 'scoreBHalftime2';
        fields[this.$t('game.table.scoreAHalftime3')] = 'scoreAHalftime3';
        fields[this.$t('game.table.scoreBHalftime3')] = 'scoreBHalftime3';
      }

      return fields;
    },

    scheduleData() {
      return this.games.map((current) => {
        const data = {
          number: current.number,
          date: current.datetime.format('DD.MM.YYYY'),
          time: current.datetime.format('HH:mm'),
          court: current.court,
          groupName: current.group ? current.group.name : '',
          tournament: current.tournament ? getTournamentCompleteName(current.tournament) : '',
          teamAName: current.teamA ? current.teamA.name : '',
          teamBName: current.teamB ? current.teamB.name : '',
          referees: current.referees || '',
        };

        if (current.isPlayed) {
          data.pointsA = current.pointsA;
          data.pointsB = current.pointsB;
          if (this.isSimpleGameMode) {
            data.scoreA = current.scoreAHalftime1;
            data.scoreB = current.scoreBHalftime1;
          } else {
            data.setsA = current.setsA;
            data.setsB = current.setsB;
            data.scoreAHalftime1 = current.scoreAHalftime1;
            data.scoreBHalftime1 = current.scoreBHalftime1;
            data.scoreAHalftime2 = current.scoreAHalftime2 || '';
            data.scoreBHalftime2 = current.scoreBHalftime2 || '';
            data.scoreAHalftime3 = current.scoreAHalftime3 || '';
            data.scoreBHalftime3 = current.scoreBHalftime3 || '';
          }
        }
        return data;
      });
    },

    scheduleFileName() {
      return `schedule_${this.event.name.replace(/ /g, '_')}.csv`;
    },
  },

  beforeRouteUpdate(to, from, next) {
    gameService.getByEvent(to.params.eventID).then(next);
  },
};
</script>
