<template>
    <div>
        <h2>
            {{ group.name }}
            <small><v-tournament-name :tournament="tournament"></v-tournament-name></small>
        </h2>
        <v-game-table :games="games"></v-game-table>

        <h4>{{ $t('group.table.headline') }}</h4>

        <v-group-table :teams="teams"></v-group-table>
    </div>
</template>

<script>
  /* ============
   * Group Schedule Page
   * ============
   *
   * A page which displays the schedule for a group
   */

  import gameService from '@/services/games';
  import tournamentService from '@/services/tournament';

  export default {
    components: {
      VGameTable: require('@/components/gameTable.vue'),
      VTournamentName: require('@/components/tournamentName.vue'),
      VGroupTable: require('@/components/groupTable.vue'),
    },

    computed: {
      event() {
        return this.$store.getters['event/activeEvent'];
      },

      tournament() {
        return this.$store.getters['tournament/activeTournament'];
      },

      group() {
        return this.$store.getters['group/activeGroup'];
      },

      games() {
        return this.$store.getters['games/games'];
      },

      teams() {
        return this.group.teamTable;
      },
    },

    beforeRouteUpdate(to, from, next) {
      Promise.all([
        gameService.getByGroup(to.params.groupID),
        tournamentService.getByID(to.params.tournamentID),
      ]).then(next);
    },
  };
</script>
