<template>
    <div>
        <h2>
            {{ $t('schedule.not_available.title') }}
        </h2>
        <p>{{ $t('schedule.not_available.text') }}</p>
        <p class="text-center">
            <v-link-button
                    type="info"
                    size="large"
                    :route="{ name: 'home.index' }"
            >{{ $t('schedule.not_available.back') }}
            </v-link-button>
        </p>
    </div>
</template>

<script>
  /* ============
   * Schedule Not available Page
   * ============
   *
   * A page which displays a message when the schedule is not available
   */

  export default {
    components: {
      VLinkButton: require('@/components/linkButton.vue'),
    },
  };
</script>
