<template>
    <div>
        <el-row type="flex" justify="center" class="print-hidden">
            <el-col :span="20">
                <h1>{{ $t('schedule.print.schedule_for_event', { name: event.name }) }}</h1>
            </el-col>
        </el-row>
        <el-row>
            <el-col>
                <div v-for="(gamesOfDate, date) in groupedGames" :key="date" class="print-page-break-after">
                    <h3>{{ date }}</h3>
                    <el-row type="flex" justify="center">
                        <el-col :span="24">
                            <table class="print-table">
                                <thead>
                                <tr>
                                    <th>{{ $t('game.table.number') }}</th>
                                    <th>{{ $t('game.table.date') }}</th>
                                    <th>{{ $t('game.table.time') }}</th>
                                    <th>{{ $t('game.table.court') }}</th>
                                    <th>{{ $t('game.table.tournamentName') }}</th>
                                    <th>{{ $t('game.table.groupName') }}</th>
                                    <th>{{ $t('game.table.teamA') }}</th>
                                    <th>{{ $t('game.table.teamB') }}</th>
                                    <th>{{ $t('game.table.referees') }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="game in gamesOfDate" :key="game.id" :class="rowClassName(game)">
                                    <td>{{ game.number }}</td>
                                    <td>{{ game.date }}</td>
                                    <td>{{ game.time }}</td>
                                    <td>{{ game.court }}</td>
                                    <td>{{ game.tournamentName }}</td>
                                    <td>{{ game.groupName }}</td>
                                    <td>{{ game.teamAName }}</td>
                                    <td>{{ game.teamBName }}</td>
                                    <td>{{ game.referees }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </el-col>
                    </el-row>
                </div>
            </el-col>
        </el-row>
    </div>
</template>

<script>
  /* ============
   * Game Print Page
   * ============
   *
   * A page which prints the games
   */

  import gameService from '@/services/games';
  import { getTournamentCompleteName } from '@/utils/helpers';

  export default {
    components: {
      VTournamentName: require('@/components/tournamentName.vue'),
    },

    computed: {
      event() {
        return this.$store.getters['event/activeEvent'];
      },

      isSimpleGameMode() {
        return this.event.gameMode === 'simple';
      },

      games() {
        return [...this.$store.getters['games/games']];
      },

      gameNumbers() {
        return this.games.map(current => current.number);
      },

      groupedGames() {
        return this.gameData.reduce((obj, game) => {
          if (obj[game.date]) {
            obj[game.date].push(game);
          } else {
            obj[game.date] = [game];
          }
          return obj;
        }, {});
      },

      gameData() {
        return this.games.map(current => ({
          id: current.id,
          number: current.number,
          date: current.datetime.format('DD.MM.YYYY'),
          time: current.datetime.format('HH:mm'),
          court: current.court,
          group: current.group,
          groupName: current.group ? current.group.name : undefined,
          tournament: current.tournament,
          tournamentName: current.tournament ?
            getTournamentCompleteName(current.tournament) : undefined,
          teamAName: current.teamA ? current.teamA.name : undefined,
          teamAID: current.teamA ? current.teamA.resolvedTeamID : undefined,
          teamBName: current.teamB ? current.teamB.name : undefined,
          teamBID: current.teamB ? current.teamB.resolvedTeamID : undefined,
          referees: current.referees,
        }));
      },
    },

    methods: {
      rowClassName(game) {
        const result = [];
        if (game.court === this.event.courtCount) {
          result.push('has-bottom-border');
        }
        return result.join(' ');
      },
    },

    beforeRouteUpdate(to, from, next) {
      gameService.getByEvent(to.params.eventID).then(next);
    },
  };
</script>
