<template>
    <div>
        <h2>
            {{ team.completeName }}
        </h2>
        <v-game-table :games="games"></v-game-table>
    </div>
</template>

<script>
  /* ============
   * Team Schedule Page
   * ============
   *
   * A page which displays the schedule for a team
   */

  import gameService from '@/services/games';
  import teamService from '@/services/team';

  export default {
    components: {
      VGameTable: require('@/components/gameTable.vue'),
    },

    computed: {
      event() {
        return this.$store.getters['event/activeEvent'];
      },

      team() {
        return this.$store.getters['team/activeTeam'];
      },

      games() {
        return this.$store.getters['games/games'];
      },
    },

    beforeRouteUpdate(to, from, next) {
      Promise.all([
        gameService.getByTeam(to.params.teamID),
        teamService.getByID(to.params.teamID),
      ]).then(next);
    },
  };
</script>
