<template>
    <div>
        <h2>
            <v-tournament-badge :tournament="tournament"></v-tournament-badge>
        </h2>
        <v-game-table :games="games"></v-game-table>
    </div>
</template>

<script>
  /* ============
   * Tournament Schedule Page
   * ============
   *
   * A page which displays the schedule for a tournament
   */

  import gameService from '@/services/games';
  import tournamentService from '@/services/tournament';

  export default {
    components: {
      VGameTable: require('@/components/gameTable.vue'),
      VTournamentBadge: require('@/components/tournamentBadge.vue'),
    },

    computed: {
      event() {
        return this.$store.getters['event/activeEvent'];
      },

      tournament() {
        return this.$store.getters['tournament/activeTournament'];
      },

      games() {
        return this.$store.getters['games/games'];
      },
    },

    beforeRouteUpdate(to, from, next) {
      Promise.all([
        gameService.getByTournament(to.params.tournamentID),
        tournamentService.getByID(to.params.tournamentID),
      ]).then(next);
    },
  };
</script>
