<template>
    <v-layout>
        <el-row class="home-part home-part-image">
            <div class="home-header-image" :style="headerImageStyles">
                <h1>{{ event.name }}</h1>
                <h2>{{ event.eventDate }}</h2>
            </div>
        </el-row>

        <el-row class="home-part home-part-big">
            <el-col :span="24">
                <router-view></router-view>
            </el-col>
        </el-row>
    </v-layout>
</template>

<script>
  /* ============
   * Event Wrapper Page
   * ============
   *
   * A page which displays a single event or other sub route components
   */

  import eventService from '@/services/events';

  export default {
    components: {
      VLayout: require('@/layouts/fullWidth.vue'),
    },

    computed: {
      event() {
        return this.$store.getters['event/activeEvent'];
      },

      headerImageStyles() {
        if (!this.event.image) return undefined;

        return `background-image: url(${this.event.image});`;
      },
    },

    beforeRouteUpdate(to, from, next) {
      eventService.getByID(to.params.eventID).then(() => {
        if (this.$store.state.account.isStaff) return next();
        if (to.name === 'schedule.not-available') return next();
        const activeEvent = this.$store.getters['event/activeEvent'];
        if (activeEvent && !activeEvent.schedulePublic) {
          return next({ name: 'schedule.not-available', params: to.params });
        }
        return next();
      });
    },
  };
</script>
