<template>
    <el-table
            :data="tableData"
            class="game-table"
            :row-class-name="rowClassName"
            @cell-click="handleCellClick">
        <el-table-column
                prop="number"
                column-key="number"
                :label="$t('game.table.number')"
                width="60" align="center">
        </el-table-column>
        <el-table-column
                prop="date"
                column-key="date"
                align="center"
                width="100"
                :label="$t('game.table.date')">
        </el-table-column>
        <el-table-column
                prop="time"
                column-key="time"
                align="center"
                width="70"
                :label="$t('game.table.time')">
        </el-table-column>
        <el-table-column
                prop="court"
                column-key="court"
                align="center"
                width="60"
                :label="$t('game.table.court')">
        </el-table-column>
        <el-table-column
                column-key="tournament"
                :show-overflow-tooltip="true"
                :label="$t('game.table.tournamentName')">
            <template slot-scope="scope">
                <v-tournament-badge size="small" v-if="!!scope.row.tournament"
                                    :tournament="scope.row.tournament"></v-tournament-badge>
            </template>
        </el-table-column>
        <el-table-column
                column-key="group"
                prop="groupName"
                :label="$t('game.table.groupName')">
        </el-table-column>
        <el-table-column
                column-key="teamAName"
                prop="teamAName"
                :label="$t('game.table.teamA')">
        </el-table-column>
        <el-table-column
                column-key="teamBName"
                prop="teamBName"
                :label="$t('game.table.teamB')">
        </el-table-column>
        <el-table-column
                column-key="result"
                width="110"
                align="center"
                :label="$t('game.table.result')">
            <template slot-scope="scope">
                <div class="game-table__result" v-if="displayResult(scope.row)">
                    <div class="game-table__result__points">
                        <p>{{ scope.row.setsA }}</p>
                        <p>:</p>
                        <p>{{ scope.row.setsB }}</p>
                    </div>
                    <div class="game-table__result__halftimes" v-if="!isSimpleGameMode">
                        <p v-for="nr in 3">{{ getHalftimeResultString(scope.row, nr)}}</p>
                    </div>
                </div>
            </template>
        </el-table-column>
        <el-table-column v-if="displayReferees"
                         column-key="referees"
                         width="120"
                         align="center"
                         :label="$t('game.table.referees')">
            <template slot-scope="scope">
                <div v-if="editReferees === scope.row.number">
                    <el-select
                            v-if="!scope.row.isEmpty"
                            v-model="scope.row.referees"
                            :ref="`refereeSelect${scope.row.number}`"
                            multiple
                            filterable
                            allow-create
                            @change="saveReferees(scope.row)"
                            :placeholder="$t('game.table.referees')">
                        <el-option
                                v-for="item in refereeOptions"
                                :key="item"
                                :label="item"
                                :value="item">
                        </el-option>
                    </el-select>
                </div>
                <div v-else>
                    <el-tag v-for="(referee, index) in scope.row.referees" :key="`${scope.row.number}_${index}`" type="info" size="mini">{{ referee }}</el-tag>
                </div>
            </template>
        </el-table-column>
        <el-table-column
                column-key="controls"
                width="40"
                align="center"
                v-if="displayControls">
            <template slot-scope="scope">
                <div v-if="displayControls && scope.row.court === 1">
                    <el-popover
                            placement="top"
                            trigger="click"
                            :title="$t('schedule.edit.delay.title')"
                            @show="resetDelay()">
                        <div class="flex-center">
                            <el-form :model="delay" label-position="top">
                                <el-form-item :label="$t('schedule.edit.delay.label')">
                                    <el-input-number v-model="delay.minutes"></el-input-number>
                                </el-form-item>
                                <el-form-item>
                                    <el-button :loading="loading" type="primary" @click="saveDelay(scope.row)">
                                        {{ $t('schedule.edit.delay.save')}}
                                    </el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                        <el-button slot="reference" type="text" icon="el-icon-time"></el-button>
                    </el-popover>
                </div>
            </template>
        </el-table-column>
    </el-table>
</template>

<script>
  /* ============
   * Team Card Component
   * ============
   *
   * A Card component that displays a single Team
   *
   */

  import moment from 'moment';
  import gameService from '@/services/games';

  export default {
    props: {
      games: {
        type: Array,
        required: true,
      },

      showControls: {
        type: Boolean,
        default: false,
      },

      showReferees: {
        type: Boolean,
        default: false,
      },
    },

    components: {
      VTournamentBadge: require('@/components/tournamentBadge.vue'),
    },

    data() {
      return {
        delay: {
          minutes: 0,
        },
        editReferees: undefined,
      };
    },

    computed: {
      tableData() {
        return this.games.map((current, index) => {
          let isFirstGameOfDay = false;
          if (index > 0 && this.games[index - 1]) {
            isFirstGameOfDay = !(current.datetime.isSame(this.games[index - 1].datetime, 'day'));
          }
          return {
            id: current.id,
            number: current.number,
            date: current.datetime.format('DD.MM.YYYY'),
            time: current.datetime.format('HH:mm'),
            court: current.court,
            group: current.group,
            groupName: current.group ? current.group.name : undefined,
            tournament: current.tournament,
            teamAName: current.teamA ? current.teamA.name : undefined,
            teamAID: current.teamA ? current.teamA.resolvedTeamID : undefined,
            teamBName: current.teamB ? current.teamB.name : undefined,
            teamBID: current.teamB ? current.teamB.resolvedTeamID : undefined,
            teamA: current.teamA ? current.teamA.resolvedTeam : undefined,
            teamB: current.teamB ? current.teamB.resolvedTeam : undefined,
            pointsA: this.isSimpleGameMode ? current.scoreAHalftime1 : current.pointsA,
            pointsB: this.isSimpleGameMode ? current.scoreBHalftime1 : current.pointsB,
            setsA: this.isSimpleGameMode ? current.scoreAHalftime1 : current.setsA,
            setsB: this.isSimpleGameMode ? current.scoreBHalftime1 : current.setsB,
            isEmpty: current.isEmpty,
            isPlayed: current.isPlayed,
            isFirstGameOfDay,
            scoreAHalftime1: current.scoreAHalftime1,
            scoreBHalftime1: current.scoreBHalftime1,
            scoreAHalftime2: current.scoreAHalftime2,
            scoreBHalftime2: current.scoreBHalftime2,
            scoreAHalftime3: current.scoreAHalftime3,
            scoreBHalftime3: current.scoreBHalftime3,
            referees: current.referees ? current.referees.split(' ') : [],
          };
        });
      },

      event() {
        return this.$store.getters['event/activeEvent'];
      },

      isSimpleGameMode() {
        return this.event.gameMode === 'simple';
      },

      isStaff() {
        return this.$store.state.account.isStaff;
      },

      displayControls() {
        return this.showControls && this.isStaff;
      },

      displayReferees() {
        return this.showReferees && this.isStaff;
      },

      loading() {
        return this.$store.getters['loading/isLoading'];
      },

      refereeOptions() {
        const arr = this.tableData.reduce((acc, game) => {
          acc = acc.concat(game.referees);
          return acc;
        }, []);
        return Array.from(new Set(arr));
      },
    },

    methods: {
      rowClassName(data) {
        const result = [];
        if (data.row.court === this.event.courtCount) {
          result.push('has-bottom-border');
        }
        if (data.row.isFirstGameOfDay) {
          result.push('has-top-border');
        }
        return result.join(' ');
      },

      displayResult(row) {
        return !row.isEmpty && row.isPlayed;
      },

      getHalftimeResultString(row, number) {
        const scoreA = row[`scoreAHalftime${number}`];
        const scoreB = row[`scoreBHalftime${number}`];
        if (!scoreA && !scoreB) return undefined;
        return `(${scoreA}:${scoreB})`;
      },

      getRouteData(row, key) {
        switch (key) {
          case 'tournament':
            if (!row.tournament) return undefined;
            return {
              name: 'schedule.tournament',
              params: {
                tournamentID: row.tournament.id,
              },
            };
          case 'date':
            return {
              name: 'schedule.date',
              params: {
                date: moment(row.date, 'DD.MM.YYYY').format('YYYY-MM-DD'),
              },
            };
          case 'court':
            return {
              name: 'schedule.court',
              params: {
                court: row.court,
              },
            };
          case 'group':
            if (!row.group || !row.tournament) return undefined;
            return {
              name: 'schedule.group',
              params: {
                tournamentID: row.tournament.id,
                groupID: row.group.id,
              },
            };
          case 'teamAName':
            if (!row.teamAID) return undefined;
            return {
              name: 'schedule.team',
              params: {
                teamID: row.teamAID,
              },
            };
          case 'teamBName':
            if (!row.teamBID) return undefined;
            return {
              name: 'schedule.team',
              params: {
                teamID: row.teamBID,
              },
            };
          case 'controls':
            return undefined;
          case 'referees':
            return undefined;
          default:
            return {
              name: 'games.single',
              params: {
                gameID: row.id,
              },
            };
        }
      },

      handleCellClick(row, column) {
        if (row.isEmpty) return;
        const data = this.getRouteData(row, column.columnKey);

        if (column.columnKey === 'referees') {
          this.setEditReferees(row);
        } else if (this.editReferees) {
          this.unsetEditReferees();
          return;
        }

        if (data) {
          this.$router.push({
            name: data.name,
            params: {
              ...this.$route.params,
              ...data.params,
            },
          });
        }
      },

      saveDelay(row) {
        gameService.setDelay(row, this.delay.minutes).then(() => {
          this.resetDelay();
          gameService.getByEvent(this.event.id);
        });
      },

      resetDelay() {
        this.delay = {
          minutes: 0,
        };
      },

      setEditReferees(row) {
        this.editReferees = row.number;
        this.$nextTick(() => {
          this.$refs[`refereeSelect${row.number}`].focus();
        });
      },

      unsetEditReferees() {
        this.editReferees = undefined;
      },

      saveReferees(row) {
        const game = {
          ...row,
          referees: row.referees.join(' '),
        };
        gameService.updateReferees(game).then(() => {
          gameService.getByEvent(this.event.id);
        });
      },
    },
  };

</script>
