<template>
    <el-table
            :data="tableData"
            class="group-table"
            @row-click="handleRowClick">
        <el-table-column
                type="index"
                width="70"
                align="center"
                :label="$t('group.table.place')">
        </el-table-column>
        <el-table-column
                prop="name"
                column-key="name"
                :label="$t('group.table.name')">
        </el-table-column>
        <el-table-column
                prop="points"
                column-key="points"
                align="center"
                width="100"
                :label="$t('group.table.points')">
        </el-table-column>
        <el-table-column
                prop="goals"
                column-key="goals"
                align="center"
                width="100"
                :label="$t('group.table.goals')">
        </el-table-column>
        <el-table-column
                prop="goalsNegative"
                column-key="goalsNegative"
                align="center"
                width="100"
                :label="$t('group.table.goalsNegative')">
        </el-table-column>
        <el-table-column
                prop="goalsDiff"
                column-key="goalsDiff"
                align="center"
                width="100"
                :label="$t('group.table.goalsDiff')">
        </el-table-column>
        <el-table-column
                prop="games"
                column-key="games"
                align="center"
                width="100"
                :label="$t('group.table.games')">
        </el-table-column>
    </el-table>
</template>

<script>
  /* ============
   * Group Table Component
   * ============
   *
   * A Table component that displays the teams of a group
   *
   */

  export default {
    props: {
      teams: {
        type: Array,
        required: true,
      },
    },

    computed: {
      tableData() {
        return this.teams.map(current => ({
          id: current.id,
          name: current.name,
          points: `${current.points}:${current.pointsNegative}`,
          goals: current.goals,
          goalsNegative: current.goalsNegative,
          goalsDiff: current.goalsDiff,
          games: current.gamesPlayedCount,
        }));
      },

      event() {
        return this.$store.getters['event/activeEvent'];
      },
    },

    methods: {
      handleRowClick(row) {
        this.$router.push({
          name: 'schedule.team',
          params: {
            ...this.$route.params,
            teamID: row.id,
          },
        });
      },
    },
  };

</script>
