<template>
    <el-tag :style="labelStyles" :size="size" class="tournament-badge">
        <v-tournament-name :tournament="tournament"></v-tournament-name>
    </el-tag>
</template>

<script>
  /* ============
   * Tournament Badge Component
   * ============
   *
   * A component which displays a colored tournament badge
   */

  import hexRgb from '@/utils/hexToRgb';

  export default {
    props: {
      tournament: {
        type: Object,
        required: true,
      },

      size: {
        type: String,
      },
    },

    components: {
      VTournamentName: require('@/components/tournamentName.vue'),
    },

    computed: {
      color() {
        const hex = this.tournament.color || '#909399';
        return hexRgb(hex);
      },

      labelStyles() {
        const result = [];
        result.push(`background-color: ${this.getColorWithOpacity(this.color, 0.1)}  !important;`);
        result.push(`border-color: ${this.getColorWithOpacity(this.color, 0.2)}  !important;`);
        result.push(`color: ${this.getColorWithOpacity(this.color, 1)} !important;`);
        return result.join(' ');
      },
    },

    methods: {
      getColorWithOpacity(color, op) {
        return this.colorObjToRGBAString({
          ...this.color,
          alpha: op,
        });
      },

      colorObjToRGBAString(colorObj) {
        return `rgba(${colorObj.red}, ${colorObj.green}, ${colorObj.blue}, ${colorObj.alpha})`;
      },
    },
  };
</script>
